:root {
  --spacing: 3px;
}

body {
  background-color: #EBF0FF;
}

ul {
  list-style-type: none;
}

button {
  margin: var(--spacing);
}

fieldset {
  padding: var(--spacing);
  margin: 0;
  border: none;
}

.sort-input {
  display: flex;
  align-items: center;
}

#form-and-btns {
  padding: var(--spacing);
  display: flex;
}

#sort-form {
  display: flex;
  flex-direction: column;
}