:root {
  --spacing: 3px;
  --font: 1.25em;
}

body {
  background-color: #EBF0FF;
}

form {
  font-size: var(--font);
}

ul {
  list-style-type: none;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:  #2B5FDA;
  border-radius: 15px;
  color: #EBF0FF;
}

li {
  padding-right: 15px;
}

button {
  margin: var(--spacing);
  font-size: var(--font);
}

form button {
  font-size: 1em;
}

fieldset {
  padding: var(--spacing);
  margin: 0;
  border: none;
}

.sort-input {
  display: flex;
  align-items: center;
}

#form-and-btns {
  padding: var(--spacing);
  display: flex;
}

#sort-form {
  display: flex;
  flex-direction: column;
}